<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BidFrenzy"
        android:supportsRtl="true"
        android:theme="@style/Theme.BidFrenzy"
        tools:targetApi="31">
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminBrowseProducts"
            android:exported="false" />
        <activity
            android:name=".AddToCart"
            android:exported="false" />
        <activity
            android:name=".EditUserProfile"
            android:exported="false" />
        <activity
            android:name=".CustomerBrowseProducts"
            android:exported="false" />
        <activity
            android:name=".EditProduct"
            android:exported="false" />
        <activity
            android:name=".AddProduct"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".CustomerCategories"
            android:exported="false" />
        <activity
            android:name=".CustomerDashboard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".ReviewSeller"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>